@import url(button.css);
@import url(kep.css);
@import url(variables.css);
@font-face {
  font-family: 'playfair';
  src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

* {
  font-family:'playfair';
}
html {
  align-items: center;
  background-image: url(kép/háttér.jpg);
}
body {
  display: block;
  max-width: 1040px;
  margin: 3rem auto;
  padding: 6rem;
  background-color: white;
  box-shadow: 0px 0px 30px rgb(255, 255, 255, 1);
}

.menu {
  display: flex;
  max-width: 750px;
  height: 4rem;
  align-items: center;
  grid-area: m;
}
.menu img {
  width: 100%;
  height: 100%;
  max-width: 3rem;
  max-height: 3rem;
}
.menu a {
  font-family: var(inter);
}
h1 {
  text-align: center;
  grid-area: h;
}
i {
  text-align: center;
  grid-area: i;
  margin: auto;
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  text-align: center;
  margin: auto;
}
a:active {
  color: var(--active-a);
}
.szoveg {
  text-align: center; /* Szöveg középre igazítása */
}

.szoveg h2,
.szoveg p {
  margin: 0; /* Alapértelmezett margó eltávolítása */
}
.grid {
  display: grid;
  margin: auto;
  grid-template-areas:
    "m m m m m m"
    "h h h h h h"
    "i i i i i i"
    "ko ko go go le le"
    "k k k s s s";
    grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 1rem;
}
